.back-top {
    background-color: #009688;
    height: 25vh;
}

.back-main {
    background-color: #D9DBD5;
    height: 75vh;
}

.back-container {
    position: relative;
}

.front-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

.front-container1 {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
}

.ddsd {
    position: absolute;
    top: 20px;
}

.chat-top {
    background-color: #f1eded;
    min-height: 250px;
}

.login-top {
    background-color: #f1eded;
    min-height: 25px;
}

.contact-table-scroll {
    overflow-y: scroll;
    height: 500px;
}

.contacts {
    background-color: #ffffff;
    min-height: 475px;
}

.my-custom-scrollbar {
    position: relative;
    height: 475px;
    /* overflow: auto; */
    max-width: 100%;
    overflow-x: hidden;
}

.table-wrapper-scroll-y {
    display: block;
}

.profileimage {
    /* width: 50px; */
    border-radius: 50%;
    margin: 5px;
    height: 57px;
    max-width: 60px;
}

.bi {
    /* margin-left: 60vh; */
    cursor: pointer;
    width: 24px;
    height: 24px;
    float: right;
    margin-block-start: 22px;
    margin-right: 20px;
}

.placeee {
    position: relative;
    margin-inline-end: auto;
}

.form-s {
    background-color: rgb(228 228 228);
    width: 95%;
    height: 40px;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.span-s {
    min-height: 5px;
}

.input-s {
    all: unset;
    font: 16px system-ui;
    color: #000;
    height: 100%;
    width: 100%;
    padding: 6px 10px;
}

.button-s {
    all: unset;
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.svg-s {
    color: #767676;
    fill: currentColor;
    width: 40px;
    height: 40px;
    padding: 10px;
}


.btn_place {
    margin-left: 370px;
}

.chat-list-item {
    background: white;
    cursor: pointer;
}

    .chat-list-item:hover {
        background: hsl(0, 2%, 92%);
    }

.chat-de {
    flex: 1 !important;
    background: url('../Images/background.jpg');
    min-height: 80.5vh;
}

.chatt {
    max-width: fit-content;
    max-height: max-content;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
    background: none;
}

.bi-search {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    right: 5%;
}

.bi-three-dots-vertical {
    width: 20px;
    height: 20px;
    /* position: absolute; */
    /* top: 10px;
    right: 0%; */
}

.personalchat {
    width: 100%;
    height: 80%;
}

.writehere {
    width: 100%;
}

.backchat {
    width: 100%;
    height: 100%;
}

.form-control {
    width: 100%;
    border-radius: 10px;
}


.ttt {
    margin: -10px;
}

.bi-emoji-laughing {
    all: unset;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding-right: 3px;
}

.bi-paperclip {
    all: unset;
    cursor: pointer;
    width: 25px;
    height: 25px;
    padding-right: 5px;
}

.bi-send-fill {
    all: unset;
    cursor: pointer;
    width: 20px;
    height: 20px;
    padding-left: 5px !important;
}

.iconsandinput {
    width: 100%;
    top: 20px;
    border-radius: 0px;
    background-color: #f0f2f5;
}

.right-pad {
    padding-right: 0;
    padding-left: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.greenbackground {
    background-color: rgb(178, 252, 178);
}


.left-pad {
    padding-right: 0;
    padding-left: 0;
}

.row {
    --bs-gutter-x: 1;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}

.dropup {
    border: none;
}

.dropup-content {
    display: none;
    position: absolute;
    cursor: auto;
    bottom: 30px;
    z-index: 1;
}

    .dropup-content a {
        color: black;
        /* padding: 12px 16px; */
        text-decoration: none;
        display: block;
    }

/* .dropup-content a:hover {background-color: #ccc} */

.dropup:hover .dropup-content {
    display: block;
}

/* .dropup:hover .dropbtn {
  background-color: #2980B9;
} */


.biclips {
    margin-left: 0;
    margin-bottom: 30%;
    width: 35px;
    height: 35px;
}

div#contact_div {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

div#search {
    padding-bottom: 6px;
    padding-top: 6px;
    border-bottom: 0.1vh solid lightgray;
}

.dropup2 {
    border: none;
}

.dropdown {
    border: none;
    background: none;
    /* position: relative; */
    display: inline-block;
    /* width: 20px; */
    /* height: 20px; */
    position: absolute;
    top: 10px;
    right: 0%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgb(0 0 0 / 20%);
    z-index: 1;
    /* left: 10%; */
    right: 20%;
    top: 100%;
}

    .dropdown-content a {
        color: black;
        padding-right: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn2 {
    background-color: #3e8e41;
}

.biclips2 {
    border-bottom: 0.1vh solid black
}

.aud {
    float: inline-end;
}

div#cont-img {
    width: 50px;
    margin-right: 3vh;
}

.n-input-group {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    align-items: stretch;
    width: inherit;
}

.message-item {
    position: relative;
    max-width: 75%;
    word-break: break-word;
}

.message-item .options {
    position: absolute;
    top: 0;
    right: -3px;
    opacity: 0;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
}

.message-item:hover .options {
	opacity: 1;
	right: 0;
}

.del-icon {
    width: 15px;
    height: 15px;
    margin-block-start: unset;
    margin-right: 3px;
}

.wrong {
    display: none;
}

.wrong-show {
    display: block;
    color: red;
}

.home {
    background-color: #efefef;
    ;
    overflow-x: hidden;
}

.centert {
    margin-left: 40%;
}

.centert2 {
    margin-left: 35%;
}

.wellcome {
    max-width: 35%;
    word-break: break-word;
    text-align: center;
}
