@* @model TModel *@
@model User
@{
    Layout = "_Authenticate";
}

<div class="login-page">
    <div class="form">
      <form asp-action="Login" class="login-form">
          <input asp-for="Username" id="username-l" type="text" placeholder="username"/>
          <input asp-for="Password" id="password-l" type="password" placeholder="password"/>
          <button id="bhem" type="submit">login</button> 
          <p>Not Registerd? click <a asp-action="Register">here</a> to Register</p>
      </form>
      @if(ViewBag.error != null) {
            <p class="message wrong wrong-show">@ViewBag.error</p>
     }  
    </div>
</div>

